@model DienstenCheques.Models.ViewModels.BestellingenViewModels.IndexViewModel

@{
    ViewData["Title"] = "Opvolging van bestellingen";
}

<h2>@ViewData["Title"] </h2>
<p> </p>
<div class="form">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="AantalBeschikbareCheques" class="control-label col-md-3"></label>
            <div class="col-md-9">
                <p class="form-control-static"> @Model.AantalBeschikbareCheques</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AantalOpenstaandePrestatieUren" class="control-label col-md-3"></label>
            <div class="col-md-9">
                <p class="form-control-static">@Model.AantalOpenstaandePrestatieUren u</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AantalMaanden" class="control-label col-md-3"></label>
            <div class="col-md-9">
                <select asp-for="AantalMaanden" asp-items="@Model.AantalMaandenKeuzeList" class="form-control form-control-inline"></select>
                <input type="submit" value="Tonen" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>
<p></p>
<div id="bestellingen">
    @Html.Partial("_Bestelling", Model.Bestellingen)
</div>

@section Scripts{
    <script src="~/js/Bestellingen.js" asp-append-version="true"></script>
}
